<div class="p-2 flex flex-col justify-around">

  <app-settings-row
    [icon]="faShoppingBag"
    [textIcon]="null"
    [label]="'Availability'"
    [value]="'Available'"
    [positiveColour]="true">
  </app-settings-row>

  <div class="mt-1 mb-1 w-full border-b border-gray-200 mr-auto ml-auto"></div>

  <app-settings-row
    [icon]="faEnvelope"
    [textIcon]="null"
    [label]="'Email notifications'"
    [value]="'Off'"
    [positiveColour]="false">
  </app-settings-row>

  <div class="mt-1 mb-1 w-full border-b border-gray-200 mr-auto ml-auto"></div>

  <app-static-colour-settings-row
    [icon]="faClock"
    [textIcon]="null"
    [label]="'Last updated'"
    [value]="'Yesterday'">
  </app-static-colour-settings-row>

  <div class="mt-1 mb-1 w-full border-b border-gray-200 mr-auto ml-auto"></div>

  <app-static-colour-settings-row
    [icon]="faCalendar"
    [textIcon]="null"
    [label]="'Update schedule'"
    [value]="'24 hours'">
  </app-static-colour-settings-row>

  <div class="mt-1 mb-1 w-full border-b border-gray-200 mr-auto ml-auto"></div>

  <app-static-colour-settings-row
    [icon]="faPercentage"
    [textIcon]="null"
    [label]="'Notification threshold'"
    [value]="'30%'">
  </app-static-colour-settings-row>


</div>
