<app-nav-bar></app-nav-bar>

<div class="">
  <div class="container mt-4 ml-auto mr-auto">



    <div class="flex justify-between items-center mb-5">
      <p class="text-sm text-gray-600 ">Products: {{activeTrackers.length}}/2</p>
      <button mat-flat-button
              class="bg-blue-500 text-white shadow border border-white"
              (click)="openAddTrackerDialog()" [disabled]="activeTrackers.length >= 22">Add new tracker</button>
    </div>

    <div class="w-full p-3 border border-gray-300 bg-white rounded">
      <div class="flex flex-row justify-between items-center">
        <div class="text-sm text-gray-600 ">Welcome back, <span class="text-gray-800 font-medium">{{_userService.auth0UserData.email}}</span> - Let's get started.</div>
      </div>
    </div>

    <div class="tracker-container mt-5">
      <ng-container *ngFor="let tracker of activeTrackers; last as lastChild">
        <app-product-tracker
          class="flex-1 mb-4 sm:mb-0"
          [trackerDefinition]="tracker"
          (removeEmitter)="removeTracker($event)"></app-product-tracker>
<!--        <div *ngIf="!lastChild" class="m-2"></div>-->
      </ng-container>

    </div>

  </div>
</div>

