<app-nav-bar></app-nav-bar>

<div class="">
  <div class="container mt-4 ml-auto mr-auto">
    <h1>Overview</h1>
    <div class="w-full pt-2 pl-6 pr-6 pb-2 card-grey-border bg-white rounded-md mt-2">
      <div class="flex flex-row justify-between items-center">
        <div class="text-sm text-gray-600 ">Welcome back, <span class="text-gray-800 font-medium">{{_userService.displayName}}</span> - Let's get started.</div>
        <button class="main-action-colour text-white border border-white text-xs font-semibold w-36 rounded h-8"
                (click)="openAddTrackerDialog()" [disabled]="_trackerService.ProductTrackers.length >= 22">ADD NEW TRACKER</button>
      </div>
      <div class="">
        <div class="">
          <span class="text-xs text-gray-600">You're using <strong>{{_trackerService.ProductTrackers.length}}</strong> out of <strong>2</strong> trackers.</span>
        </div>
        <div>
          <span class="text-xs text-gray-600">Currently, <strong>2</strong> out of <strong>{{_trackerService.ProductTrackers.length}}</strong> of your trackers have a discounted price.</span>
        </div>
      </div>
    </div>

    <div class="flex flex-row w-full mt-4">
      <div class="w-3/5">
        <app-product-tracker-v2 [productTracker]="_trackerService.ActiveTracker"></app-product-tracker-v2>
      </div>
      <div class="w-2/5 p-2 pt-0 pr-0">
        <app-tracker-highlight-chip
          *ngFor="let tracker of _trackerService.ProductTrackers"
          [productTracker]="tracker"

        ></app-tracker-highlight-chip>
      </div>
    </div>
  </div>
</div>

