<div class="p-3 max-h-40 tracker-height border rounded border-gray-300 bg-white">
  <div class="flex justify-between h-full">
    <div class="flex justify-between w-full">
      <div class="flex lg:flex-row w-full justify-between">
        <div class="flex flex-col ml-2">
          <div class="text-xs xl:w-64 lg:w-48 md:w-36 sm:w-24 text-overflow">{{trackerDefinition.title}}</div>
          <div class="mt-2">
            <div *ngIf="trackerDefinition.isAvailable" class="h-4 w-16 rounded bg-green-300 text-green-900 flex justify-center items-center"><span class="pill-text">Available</span></div>
            <div *ngIf="!trackerDefinition.isAvailable"  class="h-4 w-20 rounded bg-red-300 text-red-900 flex justify-center items-center"><span class="pill-text">Not available</span></div>
          </div>
        </div>
        <div class="flex flex-col mr-2">
          <div class="w-full flex justify-end">
            <div *ngIf="trackerDefinition.priceData.priceDifference > 0" class="h-4 w-12 flex rounded bg-red-300 text-red-900 justify-center items-center">
              <span class="text-lg"><mat-icon [inline]="true">arrow_drop_up</mat-icon></span>
              <span class="text-xs">{{priceDifference}}%</span>
            </div>
            <div *ngIf="trackerDefinition.priceData.priceDifference < 0" class="h-4 w-12 flex rounded bg-green-300 text-green-900 justify-center items-center">
              <span class="text-lg"><mat-icon class="text-lg" [inline]="true">arrow_drop_down</mat-icon></span>
              <span class="text-xs">{{priceDifference}}%</span>
            </div>
          </div>
          <span *ngIf="trackerDefinition.priceData.priceDifference > 0" class="text-lg text-red-500 font-medium">{{trackerDefinition.id ? trackerDefinition.priceData.currentPricePretty : '...'}}</span>
          <span *ngIf="trackerDefinition.priceData.priceDifference == 0" class="text-lg text-gray-800 font-medium">{{trackerDefinition.id ? trackerDefinition.priceData.currentPricePretty : '...'}}</span>
          <span *ngIf="trackerDefinition.priceData.priceDifference < 0" class="text-lg text-green-500 font-medium">{{trackerDefinition.id ? trackerDefinition.priceData.currentPricePretty : '...'}}</span>
          <span class="text-xs text-gray-400 font-medium current-price-position text-right">{{trackerDefinition.id ? trackerDefinition.priceData.initialPricePretty : '...'}}</span>
        </div>
      </div>
    </div>

    <div *ngIf="!shouldDisplaySkeletonImage" class="image-container flex justify-center items-baseline">
      <img class="tracker-image" src="{{trackerDefinition.imageUrl}}" (error)="displaySkeletonImage()">
    </div>
    <div *ngIf="shouldDisplaySkeletonImage"  class="bg-gray-200 image-skeleton flex justify-center items-center">
      <span class="skeleton-font-size text-gray-400">
        <sl-icon name="question"></sl-icon>
      </span>
    </div>


<!--    <button mat-icon-button-->
<!--            class="h-4"-->
<!--            (click)="remove()"-->
<!--            [disableRipple]="true">-->
<!--      <mat-icon class="text-gray-400 text-sm">cancel</mat-icon>-->
<!--    </button>-->
  </div>

  <div>

    <span *ngIf="!trackerDefinition.id" class="text-xs text-gray-500 mr-1">Getting your price...</span>


  </div>


  <div class="flex justify-between mt-4">
<!--    <div>-->
<!--      <h4>Datapoints for graph</h4>-->
<!--      <ng-container *ngFor="let datapoint of trackerDefinition.datapoints">-->
<!--        <p class="text-sm">{{datapoint.date}} - {{datapoint.price}}</p>-->
<!--      </ng-container>-->
<!--    </div>-->

    <div class="">

    </div>
  </div>



  <ng-container *ngIf="!trackerDefinition.id">
    <mat-progress-bar class="mt-3" mode="indeterminate"></mat-progress-bar>
  </ng-container>
</div>
