<!--<div class="w-60 mt-5 ml-auto mr-auto">-->
<!--  <form [formGroup]="form">-->
<!--    <input formControlName="url" class="border-gray-500 border rounded" (keyup.enter)="submit()"/>-->
<!--  </form>-->
<!--</div>-->

<!--<div class="mt-5" *ngIf="loading">-->
<!--  <p>Getting your results...</p>-->
<!--</div>-->

<!--<div class="mt-5">-->
<!--  <p>The price on this page is: {{outPrice}}</p>-->
<!--</div>-->

<button mat-flat-button class="mt-5 bg-white" [routerLink]="'/app'">Tracker main</button>

<p>Naming: Think more towards the process of purchasing something i.e. bagged, swish, basket</p>
