<div class="p-4 border border-gray-300 text-xs ">
  <div *ngIf="hasSpecialChar" class="text-green-500">
    <span>Must include a special character</span><fa-icon class="ml-2" [icon]="faCheck"></fa-icon>
  </div>

  <div *ngIf="!hasSpecialChar" class="text-red-500">
    <span>Must include a special character</span><fa-icon class="ml-2" [icon]="faTimes"></fa-icon>
  </div>

<!--  <div *ngIf="has8Characters" class="text-green-500">-->
<!--    <span>Must have at least 8 characters</span><fa-icon class="ml-2" [icon]="faCheck"></fa-icon>-->
<!--  </div>-->

<!--  <div *ngIf="!has8Characters" class="text-red-500">-->
<!--    <span>Must have at least 8 characters</span><fa-icon class="ml-2" [icon]="faTimes"></fa-icon>-->
<!--  </div>-->

<!--  <div *ngIf="hasUppercase" class="text-green-500">-->
<!--    <span>Must include at least one uppercase character</span><fa-icon class="ml-2" [icon]="faCheck"></fa-icon>-->
<!--  </div>-->

<!--  <div *ngIf="!hasUppercase" class="text-red-500">-->
<!--    <span>Must include at least one uppercase character</span><fa-icon class="ml-2" [icon]="faTimes"></fa-icon>-->
<!--  </div>-->

<!--  <div *ngIf="hasNumber" class="text-green-500">-->
<!--    <span>Must include at least one number</span><fa-icon class="ml-2" [icon]="faCheck"></fa-icon>-->
<!--  </div>-->

<!--  <div *ngIf="!hasNumber" class="text-red-500">-->
<!--    <span>Must include at least one number</span><fa-icon class="ml-2" [icon]="faTimes"></fa-icon>-->
<!--  </div>-->
</div>
