/* You can add global styles to this file, and also import other style files */
/* "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css" */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html, body {
  min-height: 100vh;
}

body {
  background-color: #fafafa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:0;
}

/*
* Material overrides
 */

div .mat-menu-panel{
  border-radius: 0 !important;
}

@media only screen and (min-width: 640px){
  .container{
    max-width: 580px;
  }
}

@media only screen and (min-width: 768px){
  .container{
    max-width: 688px;
  }
}

@media only screen and (min-width: 908px){
  .container{
    max-width: 828px;
  }
}

@media only screen and (min-width: 1024px){
  .container{
    max-width: 876px;
  }
}

@media only screen and (min-width: 1280px){
  .container{
    max-width: 876px;
  }
}

.card-grey-border{
  border: 1px solid #dee2e6;
}

h1 h4 span{
  font-family: 'Open Sans', sans-serif;
}

.main-action-colour{
  background-color: #5279c1;
}

.slight-gray{
  background-color: #f8f8f8;
}

.margin-none{
  margin: 0 !important;
}

.font-unset{
  font: unset !important;
}

.toast-progress{
  background-color: #ffffff !important;
  opacity: 1 !important;
  font-size: 1rem;
}

.toast-bottom-center {
  bottom: 15px;
}

.toast-message{
  font-size: 0.8rem;
}
