@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
/* You can add global styles to this file, and also import other style files */

html, body {
  min-height: 100vh;
}

body {
  background-color: #f3f3f3;
}

@media only screen and (min-width: 640px){
  .container{
    max-width: 580px;
  }
}

@media only screen and (min-width: 768px){
  .container{
    max-width: 688px;
  }
}

@media only screen and (min-width: 908px){
  .container{
    max-width: 828px;
  }
}

@media only screen and (min-width: 1024px){
  .container{
    max-width: 924px;
  }
}

@media only screen and (min-width: 1280px){
  .container{
    max-width: 1180px;
  }
}
